/** 
 * seed - It's seed for my workflow make me to quickly and easily create a front-end project.
 * version 0.2.1 
 * author Tychio [code@tychio.net] 
 * date Thu Jul 17 2014 16:13:03 
**/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,figcaption,figure,dialog,footer,header,nav,section,main,fieldset,legend{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a,a:link,a:visited{color:#000}a:hover{color:#008000;cursor:pointer}body{font-family:Verdana 'Nimbus Sans L'}
header{z-index:60000}
main{z-index:10000}
footer{z-index:30000}